<html>
<style>
table, th, td {
  border:1px solid black;
}
</style>

	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="../static/index.css">
	</head>
        <table style="width:50%">
    <tr>
       <th>VIN Number</th>
		<th>Creation Time</th>
     </tr>
                    {% for k, v in vinNumbers%}
        <tr>
            <th>{{k}}</th>
			<th>{{v}}</th>
        </tr>
                    {% endfor %}
    </table>
</html>